# Dependencies
node_modules/

# Production builds
dist/
dist-server/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Temporary Database files
server/data/*.tmp
